@import url(https://fonts.googleapis.com/css?family=Space+Mono);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: "Space Mono";
  font-size: 16px;
}

canvas {
  width: 100% !important;
  height: 95% !important;
  display: block;
}

input {
  width: 100%;
}

#frame-rate-container {
  height: 5%;
  width: 100%;
  text-align: center;
}

.menuTitle {
  display: block;
  margin: 30px 0px 20px 0px;
  font-size: 20px;
  color: #f4ebf4;
  text-decoration: none;
}

.menuItem {
  display: block;
  margin: 16px 32px 20px 16px;
  font-size: 16px;
  color: #f4ebf4;
  text-decoration: none;
}

.shortcut {
  float: right;
  text-align: right;
  width: 70%;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 15px;
  left: 15px;
  padding: 5px;
  border: black solid 1px;
  background: #f4ebf4;
  cursor: pointer;
  display: block;
}

.closeIcon {
  display: none;
}

.menu {
  box-sizing: border-box;
  position: fixed;
  width: 25%;
  min-width: min(400px, 100%);
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: #f4ebf4;
  list-style: none;
  padding-top: 4rem;
  margin: 0rem;
}

.showMenu {
  transform: translateX(0);
}
